commands: 

  01_install_agent: 
    command: | 
      yum install -y https://get.core.armor.com/latest/armor-agent.rpm
      /opt/armor/armor register --license=XXXXX-XXXXX-xxxxx-xxxxX-xxxxx
      wait ${!}
      sed -r 's/releasever=20[0-9]+\.[0-9]+/releasever=latest/g' /etc/yum.conf > /tmp/yum
      cp /etc/yum.conf /etc/yum.conf.bak
      cp /tmp/yum /etc/yum.conf
      yum update -y 

  02_ds_agent_validation:
    command: /opt/armor/armor add malwareprotection
